/**** Colors (recommended use HEX colors) ****/ 
$main-color: #FFFFFF; 
$default-color:#6D6E6E; 
$dark-color: #000;

$body-bg-gradient-color-1: #1e5799;
$body-bg-gradient-color-2:  #a5c9e5;

$sidebar-bg-color:#FFFFFF;
$sidebar-item-active-bg-color: #F5F5F5;// #0099cc;


$primary-color: #024a88;
$success-color: #2d922d;
$info-color: #248dad;
$warning-color: #f79a17;
$danger-color: #bf1725;


$quer-sidebar-item-active-label-color: #3EB5AD;
$quer-sidebar-item-hover-color: #d5dddd;
$quer-sidebar-link-hover-color: #d5dddd;
$quer-sidebar-item-expand-color: #F5F5F5;
$quer-navbar-lines-color:#6D6E6E;
$quer-main-wrapper-color: #EFF3F6;