<div class="titulo">
    Cadastro de questionário
</div>
<div class="subtitulo">
    Cadastro / Questionário
</div>

<div class="menu">
    <a class="menu-item" [routerLink]="['info']" routerLinkActive="menu-item-active">QUESTIONÁRIO</a>
    <a class="menu-item" [routerLink]="['pergunta']" routerLinkActive="menu-item-active">PERGUNTAS</a>
    <a class="menu-item" [routerLink]="['pontuacao']" routerLinkActive="menu-item-active">PONTUAÇÃO</a>
    <a class="menu-item" [routerLink]="['preview']" routerLinkActive="menu-item-active">PREVIEW</a>
    <a class="menu-item" [routerLink]="['aprovacao']" routerLinkActive="menu-item-active">APROVAÇÃO</a>
    <a class="menu-item" [routerLink]="['publicacao']" routerLinkActive="menu-item-active">PUBLICAÇÃO ADM</a>
    <a class="menu-item" [routerLink]="['coleta']" routerLinkActive="menu-item-active">COLETA DE DADOS APP</a>
</div>

<div class="menu-linha"></div>

<div class="grid-container">
    <router-outlet></router-outlet>
</div>
