.card-body{
    background: #FFFFFF;
    margin-top: 10px;
    padding: 30px 15px 30px 30px;
    border-radius: 4px;    
}

.menu{
    font-size: 11px;
    font-weight: 600;
 }

 .menu-item {
    color: #313131;
    padding: 2px 20px 5px 20px;
    text-align: center;
}

.menu-item-active {
    border-bottom: 3px solid;
    color: #3EB5AD;
}

.menu-linha {
    top: -1.9px !important;
    position: relative;
    border: 1px solid #B3C7D6;
    z-index: -1;
}
