<div class="titulo">
    Lista de questionário
</div>
<div class="subtitulo">
    Questionário / Lista de questionário
</div>

<div class="row">
    <div class="col-12">
        <div class="row" style="margin-left: -11px;">
            <div class="form-group col-md-12 col-sm-12 col-lg-3">
                <quer-empresa></quer-empresa>
            </div>
        </div>

        <div class="row" style="margin-left: -11px;">
            <div class="form-group col-md-12 col-sm-12 col-lg-2">
                <label for="input-8" class="label-uppercase">Nome</label>
                <input class="form-control form-control-sm" id="input-8" type="text">
            </div>

            <div class="form-group col-6 col-lg-2 col-md-6 col-sm-6 col-lg-2">
                <label for="idEmpresa" class="label-uppercase">Categoria</label>
                <select class="form-control form-control-sm" id="idEmpresa">
                    <option selected=""></option>
                    <option>0975 - Informações Básicas</option>
                    <option>0032 - Atualização de perfil</option>
                </select>
            </div>

            <div class="item-button col-6 col-lg-2 col-md-6 col-sm-6 col-lg-2">
                <button type="button" class="btn btn-outline-info btn-rounded">Buscar</button>
            </div>
        </div>



        <ngx-datatable id="idListQuestionario" #table class="bootstrap" [headerHeight]="50" [limit]="10"
            [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">

            <ngx-datatable-column name="Cód singular" prop="codSingular">
                {{value}}
            </ngx-datatable-column>

            <ngx-datatable-column name="Nome" prop="nome">
                {{value}}
            </ngx-datatable-column>

            <ngx-datatable-column name="Categoria" prop="categoria">
                {{value}}
            </ngx-datatable-column>


            <ngx-datatable-column name="Situacao" prop="situacao">
                {{value}}
            </ngx-datatable-column>

            <ngx-datatable-column name="Ações">
                <ng-template ngx-datatable-cell-template let-value="value">
                    <a class="menu-item" [routerLink]="['../questionario/1']"
                        routerLinkActive="menu-item-active">Editar</a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>