.titulo{
    padding: 0;
    background: transparent;
    color: #313131;
    font-size: 25px;
}

.subtitulo{
    padding: 0;
    background: transparent;
    color: #A4A4A4;
    font-size: 11px;
    margin-bottom: 30px;
}