
// inicio css personalizado do appquer

.body-box{
    display: flex; /* ou inline-flex */
    flex-direction: row;  
    background: #FFFFFF;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;    
}

// fim css personalizado do appquer