
// inicio css personalizado do appquer

.body-box{
    display: flex; /* ou inline-flex */
    flex-direction: row;  
    background: #FFFFFF;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;    
}

label {
    display: inline-block;
    margin-bottom: 0.1rem;
}

.titulo{
    padding: 0;
    background: transparent;
    color: #313131;
    font-size: 25px;
}

.subtitulo{
    padding: 0;
    background: transparent;
    color: #A4A4A4;
    font-size: 11px;
    margin-bottom: 30px;
}


// fim css personalizado do appquer