
.item {
    padding: 0px 20px 0 0px;
    min-width: 100px;
    max-width: 380px;
}

.mobile{
    font-size: 18px;
    color:#3EB5AD;
    margin-bottom: 15px;
}

.mobile-item{
    padding: 0px 10px 0 0px;
}

.mobile-linha {
    top: 15px !important;
    position: relative;
    border: 0.5px solid #3EB5AD;
}

.flex-item-1 {
	flex: 1;
}
