<ng-template [ngIf]="!isForm || isForm == undefined || isForm == null" [ngIfElse]="formulario">

  <div class="form-group">
    <button type="button" id="adicionar-atributo" (click)="add()" class="btn btn-raised btn-success btn-sm">
      <i class="fa fa-plus"></i>Adicionar nova variação</button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Variação</th>
          <th>Custo</th>
          <th>Preço venda</th>
          <th>Ordem</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listVariacao; let idx = index">
          <td (click)="edit(item)" (click)="isForm = true" class="cursor">
            <div class="imagem">
              <img src="{{item.listImagem[0].file}}" alt="Card image" width="50" height="50">
            </div>
            <div class="areaTexto">
              <small>
                SKU: {{item.codigo}}
              </small>
              <br>
              <small class="negrito" id="descricaoVariacao_{{tipoAtributo.id}}_{{item.id}}"
                *ngFor="let tipoAtributo of item.listTipoAtributo">
                {{setDescricao(tipoAtributo, item.id)}}
              </small>
            </div>
          </td>
          <td (click)="edit(item)" (click)="isForm = true" class="cursor">
            {{item.precoCusto}}
          </td>
          <td (click)="edit(item)" (click)="isForm = true" class="cursor">
            {{item.precoVenda}}
          </td>
          <td [routerLink]="['./', item.ordem]" (click)="isForm = true" class="cursor">
            {{item.ordem}}
          </td>
          <td [routerLink]="['./', item.ativo]" (click)="isForm = true" class="cursor">
            {{item.ativo == true ? 'Ativo' : 'Inativo'}}
          </td>
          <td class="tdAcoes">
            <a (click)="edit(item)" class="fa fa-edit btn btn-sm btn-info mr-1" ngbTooltip="Editar variação"
              container="body">
            </a>
            <a [routerLink]="['./variacao']" class="fa fa-clone btn btn-sm btn-info mr-1" ngbTooltip="Clonar variação"
              container="body">
            </a>
            <a (click)="moveUp(item, idx)" [class.disabled]="item.ordem == 1"
              class="fa fa-sort-up btn btn-sm btn-info mr-1" ngbTooltip="Mover pra cima" container="body">
            </a>
            <a (click)="moveDown(item, idx)" [class.disabled]="item.ordem == listVariacao.length"
              class="fa fa-sort-desc btn btn-sm btn-info mr-1" ngbTooltip="Mover pra baixo" container="body">
            </a>
            <a (click)="delete(idx)" class="fa fa-remove btn btn-sm btn-danger cursor" ngbTooltip="Mover para lixeira"
              container="body" placement="left">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #formulario>
  <div class="card-group" *ngIf="isForm">
    <div class="alert alert-info" role="alert">
      Escolha abaixo quais são os tipos de variação que seu produto pode ter. por exemplo, se este produto é uma
      camiseta que varia
      tamanho e cor, selecione abaixo "Cor" e "Tamanho". Depois preencha os dados em "Variaçao do produto" e clique em
      "Salvar
      variação".
    </div>
    <div class="card-body" [formGroup]="form">
      <div class="row">
        <div class="col">
          <div class="card-group">
            <div class="card col-xl-2 col-lg-2 col-md-2 col-sm-2" style="min-width: 190px">
              <div class="card-body">
                <h5 class="card-title">Tipo de variações</h5>

                <div formArrayName="listTipoAtributo">
                  <div *ngFor="let item of listTipoAtributo?.controls; let idx = index"
                    class="abc-checkbox abc-checkbox-success" [formGroupName]="idx">
                    <input id="id_{{idx}}" type="checkbox" formControlName="selecionado"
                      (change)="checkTipoAtributo(item.value, idx, $event)">
                    <label for="id_{{idx}}">{{item.value.descricao}}</label>
                  </div>
                  <br />
                  <button (click)="cancelar()" type="button" class="btn btn-secondary btn-sm mr-1" ngbTooltip="Voltar"
                    container="body" placement="top">
                    <i class="fa fa-arrow-left"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card col-xl-10 col-lg-10 col-md-10 col-sm-10">
              <div class="card-body" style="min-width: 190px">
                <h5 class="card-title">Variaçao do produto</h5>

                <div class="form-group col-sm-12">
                  <label id="codigo" class="form-control-label m-t-5">Código
                    <small>(SKU)</small>
                  </label>
                  <input type="text" class="form-control checking-field size-390" id="codigo" formControlName="codigo">
                </div>
                <!-- 
                <div class="form-group col-sm-12">
                  <h6>Essa variação é a principal do produto?</h6>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" [value]="true" formControlName="principal" name="principal" class="custom-control-input radio-success"
                      id="principalSim" checked>
                    <label class="custom-control-label" for="principalSim">Sim</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" [value]="false" formControlName="principal" name="principal" class="custom-control-input radio-danger" id="principalNao">
                    <label class="custom-control-label" for="principalNao">Não</label>
                  </div>
                </div> -->

                <div formArrayName="listTipoAtributo">
                  <div class="form-group col-sm-12"
                    *ngFor="let tipoAtributo of listTipoAtributo?.controls; let i = index" [formGroupName]="i">
                    <label for="tipoAtributo_{{tipoAtributo.value.id}}"
                      *ngIf="tipoAtributo.value.selecionado">{{tipoAtributo.value.descricao}}</label>
                    <select formControlName="idAtributoSelecionado" name="idAtributoSelecionado" id="categoria"
                      class="form-control size-390" *ngIf="tipoAtributo.value.selecionado">
                      <option *ngFor="let item of tipoAtributo.value.listAtributo" [ngValue]="item.id">
                        {{item.descricao }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group col-sm-12">
                  <label id="precoCusto" class="form-control-label m-t-5">Preço de custo</label>
                  <input type='number' id="precoCusto" formControlName="precoCusto" step='0.01' min="0.01" max="70.00"
                    placeholder='0.00' class="form-control minMax-132" />
                </div>
                <div class="form-group col-sm-12">
                  <label id="precoVenda" class="form-control-label m-t-5">Preço de venda</label>
                  <input type='number' id="precoVenda" formControlName="precoVenda" step='0.01' min="0.01" max="70.00"
                    placeholder='0.00' class="form-control minMax-132" />
                </div>
                <div class="form-group col-sm-12">
                  <label id="precoPromocional" class="form-control-label m-t-5">Preço promocional</label>
                  <input type='number' id="precoPromocional" formControlName="precoPromocional" step='0.01' min="0.01"
                    max="70.00" placeholder='0.00' class="form-control minMax-132" />
                </div>

                <div class="form-group col-sm-12">
                  <label id="estoqueAtual" class="form-control-label m-t-5">Estoque atual</label>
                  <input type='number' id="estoqueAtual" formControlName="estoqueAtual" step='0.01' min="0.01"
                    max="70.00" placeholder='0.00' class="form-control minMax-132" />
                </div>

                <div class="col-lg-12 col-12 bottom-15">
                  <sv-imagem [listImagem]="form.value.listImagem"></sv-imagem>
                  <br />
                </div>

                <hr />

                <div class="form-actions  m-rigth-16">
                  <button (click)="cancelar()" type="button" class="btn btn-secondary btn-sm mr-1" ngbTooltip="Voltar"
                    container="body" placement="top">
                    <i class="fa fa-arrow-left"></i>
                  </button>
                  <button (click)="finalizar(form.value)" [disabled]="!form.valid" type="button"
                    class="btn btn-primary btn-sm" ngbTooltip="Concluir e voltar" container="body" placement="top">
                    <i class="fa fa-save"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>