.imagem{
    float:left;
    margin: 0 15px 0 0;
}

.areaTexto{
    float:left;
    min-width: 60px;
}

.negrito{
    font-weight: bold;
}

.col {
    padding-right: 0px;
    padding-left: 0px;
}

.alert {
    margin-bottom: 0rem;
}